.graph {
    margin-bottom: 10px;
}

body {
    padding-bottom: 10px;
}

h1 {
    text-align: center;
}

.custom-legend {
    width: 90px;
}

#plot2 {
    margin-bottom: 10px;
}

p {
    text-align: center;
}

